extends layout

block content
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
            a.navbar-brand(href='#') Start Bootstrap
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='#') Services
                    li.nav-item
                        a.nav-link(href='#') Contact
    // Page Content
    .container
        #mapid
        p prueba
        // Jumbotron Header
        header.jumbotron.my-4
            h1.display-3 A Warm Welcome!
            p.lead
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
                | possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
                | repellat.
            a.btn.btn-primary.btn-lg(href='#') Call to action!
        // Page Features
        .row.text-center
            .col-lg-3.col-md-6.mb-4
                .card.h-100
                    img.card-img-top(src='http://placehold.it/500x325' alt='')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus
                            | neque.
                    .card-footer
                        a.btn.btn-primary(href='#') Find Out More!
            .col-lg-3.col-md-6.mb-4
                .card.h-100
                    img.card-img-top(src='http://placehold.it/500x325' alt='')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente,
                            | tempore debitis beatae culpa natus architecto.
                    .card-footer
                        a.btn.btn-primary(href='#') Find Out More!
            .col-lg-3.col-md-6.mb-4
                .card.h-100
                    img.card-img-top(src='http://placehold.it/500x325' alt='')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus
                            | neque.
                    .card-footer
                        a.btn.btn-primary(href='#') Find Out More!
            .col-lg-3.col-md-6.mb-4
                .card.h-100
                    img.card-img-top(src='http://placehold.it/500x325' alt='')
                    .card-body
                        h4.card-title Card title
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente,
                            | tempore debitis beatae culpa natus architecto.
                    .card-footer
                        a.btn.btn-primary(href='#') Find Out More!
        // /.row
    // /.container
    // Footer
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; Your Website 2020
        // /.container
        // Bootstrap core JavaScript
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/javascripts/map.js')

